.ad-banner {
    align-content: center;
    height: 60px;
    letter-spacing: 0.2em;
    background-color: #2B1B41;
    color: white;
  }
#searchbar{
    padding-left: 30px;
    flex-grow: 1;
    height: 50px;
}
#searchbar button{
    text-wrap: nowrap;;
}

.navbar ul {
    list-style: none;
  }